.header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;

}

ul{
    list-style-type: none;
}

ul li{
    font-family: Georgia;
    font-weight: bold;
    display: inline-block;
    padding-right: 30px;
}

ul li a{
    text-decoration: none;
}

h1{
    text-align: center;
}

#article-list{
    margin-top: 100px;
    margin-bottom: 70px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
}

article{
    border-bottom: 1px solid;
    border-color: cadetblue;
}

a{
    font-family: fantasy;
    font-size: 20px;
    text-decoration: none;
}

p{
    font-family: fantasy;
}

body{
    background-image: url(../img/pattern.jpg);
}

footer{
    background-color: black;
    position: absolute;
    left: 0px;
    right: 0px;
}

h5{
    color: white;
    text-decoration: none; 
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}
